# Core Deep Learning
torch



# YOLO (Ultralytics - for YOLOv8)
ultralytics

# Computer Vision
opencv-python
opencv-contrib-python
scikit-image


# Scientific Computing
numpy
scipy
pandas
matplotlib
seaborn

# Machine Learning Utilities
scikit-learn
